In [30]:
import pandas as pd
from textblob import TextBlob
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import string

In [50]:
train_df = pd.read_json('SentimentAnalysisDataset.json', orient='records', lines=True)
train_df.head()

   label                                               text  tweet_id
0      0                       is so sad for my APL frie...         1
1      0                     I missed the New Moon trail...         2
2      1                            omg its already 7:30 :O         3
3      0            .. Omgaga. Im sooo  im gunna CRy. I'...         4
4      0           i think mi bf is cheating on me!!!   ...         5

In [19]:
train_df.label.value_counts()

0    6381
1    5058
Name: label, dtype: int64

In [53]:
train_df['tb_sent'] = train_df.text.apply(lambda x: TextBlob(x).polarity)

In [56]:
train_df.tb_sent = train_df.tb_sent.apply(lambda x: 1 if x > 0 else 0)
train_df.head()

   label                                               text  tweet_id  tb_sent
0      0                       is so sad for my APL frie...         1        0
1      0                     I missed the New Moon trail...         2        1
2      1                            omg its already 7:30 :O         3        1
3      0            .. Omgaga. Im sooo  im gunna CRy. I'...         4        0
4      0           i think mi bf is cheating on me!!!   ...         5        0

TextBlob Accuracy on given Dataset

In [71]:
sum(train_df.label == train_df.tb_sent)/len(train_df.label)

0.6329224582568407

Text Cleaning Step by Step
1. remove stop words and puncuations
2. tokenizing
3. lemmatization

In [48]:
stop_words = stopwords.words('english')
train_df['text'] = train_df.text.apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
train_df['text'] = train_df.text.apply(lambda x: x.isalpha())
train_df.head()
#     word_tokens = word_tokenize(sents) 

#     filtered_sentence = [w for w in word_tokens if not w in stop_words] 

#     filtered_sentence = [] 

#     for w in word_tokens: 
#         if w not in stop_words: 
#             filtered_sentence.append(w) 

#     train_df.text = filtered_sentence
# train_df.text

   label   text  tweet_id
0      0  False         1
1      0  False         2
2      1  False         3
3      0  False         4
4      0  False         5